/* 定義 GenRyuMin2 Font Family 的不同粗細 */
@font-face {
  font-family: "GenRyuMin2";
  src: url("static/fonts/GenRyuMin2-L.ttc") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "GenRyuMin";
  src: url("static/fonts/GenRyuMin2-M.ttc") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "GenRyuMin";
  src: url("static/fonts/GenRyuMin2-R.ttc") format("truetype");
  font-weight: 600; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "GenRyuMin";
  src: url("static/fonts/GenRyuMin2-B.ttc") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* 應用到全站 */
body {
  font-family: "GenRyuMin2", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "GenRyuMin2", sans-serif !important;
}