/* 定義 SarasaMonoSlabTC Font Family 的不同粗細 */
@font-face {
  font-family: "SarasaMonoSlabTC";
  src: url("/fonts/SarasaMonoSlabTC-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "SarasaMonoSlabTC";
  src: url("/fonts/SarasaMonoSlabTC-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "SarasaMonoSlabTC";
  src: url("/fonts/SarasaMonoSlabTC-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "SarasaMonoSlabTC";
  src: url("/fonts/SarasaMonoSlabTC-Bold.ttf") format("truetype");
  font-weight: 800; /* Bold */
  font-style: normal;
}

/* 應用到全站 */
body {
  font-family: "SarasaMonoSlabTC", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SarasaMonoSlabTC", sans-serif !important;
}
